.register{
    margin-top:90px;
    margin-bottom:140px;
    display:flex;
    justify-content: center;
}
.registerLogo{
    background-color:#a03037;
    padding:10px 0px;
}
.registerCard{
    max-width:550px;
    width:100%;
    align-items: center;
    padding-top:20px;
    padding-bottom:50px;
}
.createAccount{
    display:flex;
    justify-content: center;
    font-weight:500;
    font-size:28px;
    color:#a03037;
}
.registerform{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.name{
    width: 80%;
}
.submitbutton{
    width: 80%; 
    padding: 7px 0px; 
    font-Size: 12px; 
}
.textline{
    word-wrap: break-word;
    width:80%;
    padding-left:10px;
    display:flex;
    justify-content:space-between;
}
.accountExsists{
    display:flex;
    flex-direction:row;
}
.text{
    padding-top:5px;
}
.signInstead{
    width: 150px;
    padding: 7px 0px;
    color: #0423ce;
    font-Size: 13px
}
.footer {
	position: fixed;
	bottom: 0;
}
@media only screen and (max-width: 1024px) {
    .register{
       margin-top:180px;
       margin-bottom:0px;
    }
}
@media only screen and (max-width: 768px) {
    .register{
       margin-top:30px;
       margin-bottom:0px;
    }
}
@media only screen and (max-width: 414px) {
    .register{
       margin-top:0px;
    }
    .registerCard{
        border:none !important;
        padding-top:10px;
        padding-bottom:100px;
    }
    .accountExsists{
        display:flex;
        flex-direction:column;
    }
}
@media only screen and (max-width: 411px) {
    .registerCard{
        padding-top:30px;
        padding-bottom:100px;
    }
}
@media only screen and (max-width: 360px) {
    .registerCard{
        padding-top:20px;
        padding-bottom:100px;
    }
}