.register{
    margin-top:100px;
    display:flex;
    justify-content: center;
}
.registerLogo{
    background-color:#a03037;
    padding:10px 0px;
}
.registerCard{
    width:30%;
    align-items: center;
    padding-top:20px;
    padding-bottom:50px;
}
.createAccount{
    display:flex;
    justify-content: center;
    font-weight:500;
    font-size:28px;
    color:#a03037;
}
.registerform{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.name{
    width: 80%;
}
.inputfont{
    font-size:20px;
}
.submitbutton{
    width: 80%; 
    padding: 7px 0px; 
    font-Size: 12px; 
}
.textline{
    word-wrap: break-word;
    padding-right:130px;
}
.accountExsists{
    display:flex;
    flex-direction:row;
}
.text{
    padding-top:5px;
}
.signInstead{
    width: 150px;
    padding: 7px 0px;
    color: #0423ce;
    font-Size: 13px
}
