.checkoutLogo {
	background-color: #a03037;
	padding: 10px 0px;
}
.checkoutPage{
    background-color:white;
    padding-bottom:50px;
}
.checkout{
    display:flex;
    justify-content: center;
    align-items:center;
    flex-direction:column;
}
.checkoutimage{
    margin-top:60px;
    display:flex;
    justify-content: center;
}
.paymentComfirm{
    align-items:center;
    display:flex;
    flex-direction:column;
    font-weight:bold;
    font-size:18px;
}
.table{
    width:39%;
}
.aboutus{
    display:flex;
    justify-content: center;
}