.orderLogo {
  background-color: #a03037;
  padding: 10px 0px;
}
.orderPage {
  background-color: white;
}
.order {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.orderimage {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}
.image{
  width:350px;
  height:300px;
}
.paymentComfirm {
  max-width:300px;
  text-align:center;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
}
.table {
  max-width:700px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.aboutus {
  display: flex;
  flex-direction:row;
}
.email{
  width:30%;
  display: flex;
  flex-direction:column;
}
.header{
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:10px;
  word-wrap: break-word !important;
}

@media only screen and (max-width: 1024px) {
  .orderimage {
    margin-top: 240px;
  }
  .orderPage{
    padding-bottom:150px;
  }
  .order{
    padding-bottom:330px;
  }
}
@media only screen and (max-width: 768px) {
  .orderimage {
    margin-top:80px;
    margin-bottom:0px;
  }
  .order{
    padding-bottom:0px;
  }
}
@media only screen and (max-width: 450px) {
  .orderimage {
    margin-top:50px;
  }
  .orderPage{
    padding-bottom:0px;
  }
  .table {
     width:400px;
  }
  .aboutus {
    flex-direction:column;
  }
  .email{
    width:100%;
    flex-direction:row;
  }
  .header{
     padding:15px 15px 15px 15px;
  }
  .button-Login{
    margin-bottom:30px !important;
  }
}
@media only screen and (max-width: 414px) {
  .table {
     width:350px;
  }
}
@media only screen and (max-width: 320px) {
  .table {
     width:300px;
  }
  .image{
    width:300px;
  }
}
@media only screen and (max-width: 280px) {
  .table {
     width:260px;
  }
  .image{
    width:260px;
  }
}
